<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>asin</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="b : ${books}" th:object="${b}">
                <td>
                    <a th:href="@{/books/{asin} (asin=*{asin})}" th:text="*{title}"></a>
                </td>
                <td th:text="*{asin}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/">Back to landing</a>
</body>
</html>